html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./imgs/back2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-container {
  height: 500px;
  width: 80vw;
  margin: auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.cardd {
  background-color: rgb(7, 163, 111);
  width: 12vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid grey;
  /* border-radius: 5%; */
}

.imgcard {
  width: 182px;
  margin-top: -20px;
}

p {
  font-size: 18px;
  font-weight: bolder;
}
#cart-list {
  border-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.btncard {
  margin-top: 10px;
  padding: 2px 10px;
}
#cart {
  background-color: rgb(7, 163, 111);
  width: 12vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid grey;
}
#productimg {
  width: 190px;
  margin-top: -20px;
  border-radius: 5%;
}
